.hero_container{
    display: flex;
    flex-direction: column;
    padding: 96px 48px;
    align-items: center;
    /* background-color: #FBF9EF; */

}

.hero_text{
    max-width: 800px;
    margin-bottom: 32px;
}

.hero_action{
   display: flex;
   justify-content: space-between; 
}

.hero_action_item{
    margin: 0 16px;
    padding: 8px 16px;
    cursor: pointer;
}


.get_started{
    background-color: #35452B;
    border-radius: 48px;
    padding: 8px 16px;
    color: white;
    font-size: 14px;
}

.get_started:hover{
    background-color: #727D6B;
}