.feature_container{
    background-color: #768350    
}

.feature_wrapper{
    padding: 64px 48px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:white;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}
.feature_heading{
    margin-top: 8px;
    margin-bottom: 64px;
}

.feature_span{
    font-size: 12px;
}

.feature_card_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.feature_card{
    background-color: #E9E7DE;
    color: #000;
    padding: 24px;
    display: flex;
    /* justify-content: space-between; */
    border-radius: 8px;
    margin-right: 16px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 24px;
}

.card_image{
    margin-right: 16px;
}

h3{
    margin-bottom: 16px;
}